.card {
  width: 200px;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.50);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.day {
  color: white;
}

.tempDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  color: #e9d631
}

.actual {
  color: white;
}

.tempsContainer {
  display: flex;
  gap: 20px;
}
