.card {
  width: 200px;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

.day {
  color: grey;
}

.tempDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.actual {
  color: grey;
}

.tempsContainer {
  display: flex;
  gap: 20px;
}
