body {
    font-family: "Roboto", sans-serif;
}

.modal {
  width: 300px;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  position: absolute;
  gap: 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.closeButton{
  position: absolute;
  top: 0;
  right: 0;
}

.currentCardDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  flex-direction: column;
  margin: 50px;
}

.cardHolderDiv{
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.place{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.comingWeekText{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.locationButton{
  backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.2);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  font-size: 15px;
  padding: 5px;
  transition: background-color 500ms, color 500ms;
}

.locationButton:hover{
  cursor: pointer;
  background-color: rgba(40, 54, 78, 0.5);
  color: white;
}
