body {
    font-family: "Roboto", sans-serif;
}

.modal {
  width: 300px;
  height: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.currentCardDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  flex-direction: column;
  margin: 50px;
}

.cardHolderDiv{
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.place{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.comingWeekText{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
